*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
}
.header{
   
    color: #F9FAF8;
    font-size: 24px;
    background: #1F2937;
    color:white;
}
.nav-title{
    
    margin-bottom: auto;
    
    display: flex;
    justify-content: space-around;
    
}
.nav{
   
   gap:1em;
   margin:1em; 
   font-size: 18px;
   color: #E5E7EB;
}
.banner{
    margin:3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    display: flex;
}
.banner-title{

   
    font-size: 48px;
    font-weight:800;
    color:#F9FAF8;

}
.banner-title-content{
    width: 30vw;
}
.banner-content{
 
   font-size: 18px;
   color: #E5E7EB;
}
.banner-image img{
    margin:1em;
    height: 500px;
    width: 500px;
    
}

a{
    text-decoration: none;
    color:#E5E7EB;
}
.main-button{
    font-size: large;
    background:#3882F6 ;
    color:#E5E7EB ;
    border-radius: 15%;
}
.content-title{
 margin:5rem;
 text-align: center;
 font-size: 36px;
 font-weight: 800;
 color:#1F2937;
}
.content-image-container{
    display: flex;
    justify-content: center;
    gap:1em;
}
.content-image{
    margin: 1em;
    height: 200px;
    width: 200px;
    border:3px solid #3882F6;
    border-radius: 10%;
}
.content-text-container{

    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1em;
}
.content-text{
    height: 200px;
    width: 200px;
    margin:1em;

}
.quote-container{
    padding:5rem;
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    
}
.quote{
   
    text-align: center;
    
    
    font-size:36px;
    font-style: italic;
    color:#1F2937;
}
.author{
    padding: 1rem;
    margin-left:auto;
    color:#1F2937;
    font-size:20px;
    font-weight: 800;
}
.footer{
    text-align: center;
    padding: 3rem;
    background: #1F2937;
    color: #F9FAF8;
}
.action-container{
    gap:1em;
    padding: 3rem;
    margin:5rem;
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #E5E7EB ;
    border-radius: 25px;
}
.action-title{
    font-size:25px;
    font-weight: 800;
}
.action-button{
    width: 150px;
    border-radius: 25px;
    color: white;
    border: 3px solid #E5E7EB ;
    background-color: transparent;
}